*{
    box-sizing:border-box;
    max-width: 1550px;
    margin: 0;
    
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body{
    background-image: linear-gradient(to right,#E6E6FA,#B8E7FA);
}

header{
    background-color: #f9f9f9;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 90px;
}
.nav .logo{
    margin: 11px 0px;

}

.nav h3{
    color: #0D1321;
    font-size: 28px;
    font-weight: 900;
}
.nav span{
    color: #FFA500;
}
.btn{
    color: #0D1321;
    background-image: linear-gradient(to right,#FFA500, #FFD447) ;
    padding: 17px 30px;
    border: none;
    border-radius: 10px;
    opacity: 80%;
    font-size: 20px;
    font-weight: 700;
}

/* Banner style */
.banner {
    margin: 100px 90px;
    padding: 40px 60px;
    background-color: #E6EDF9;
    border-radius: 16px;
    text-align: center;
    height: 592px;
    gap: 32px;
}

.bannger img{
    
    margin-bottom: 32px;
}

.banner .banner-content{
     margin-top: 32px;
     
}

.banner-content h2{
    color: #0D1321;
    font-size: 48px;
    font-weight: 900;
}
.banner-content p{
    padding: 24px 0px;
    margin: 0px 240px;
    font-size: 16px;
    color: #0D1321;
    opacity: 80%;
}

/* content style */
.banner-2{
    height: 656px;
    padding-left: 90px;
    padding-right: 90px;
}
.banner-2-content {
    text-align: center;
    margin-bottom: 48px;
}
.banner-2-content h2,p{
    margin-bottom: 20px;
}
.banner-2-content h2{
    font-size: 32px;
    font-weight: 900;
}
.banner-2-content p{
    color: #0D1321;
    opacity: 80%;
    padding: 24px 0px;
    margin: 0px 240px;
    font-size: 16px;
}
.banner-2-container{
    background-color: #E6EDF9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;

}

.banner-2-container-content h3,p{
    margin-bottom: 20px;
}
.banner-2-container-content h3{
    font-size: 24px;
    font-weight: bold;
}
.banner-2-container-content p{
    color: #0D1321;
    opacity: 80%;
}

/* inspiration Content Style */
.inspiration-section{
    margin: 100px 170px;
    
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
}

.inspiration-content{
    display:flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start; 
}
.inspiration-content p{
    margin: 24px 265px;
    text-align: center;
}
.inspiration-video{
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    
}

iframe{
    border-radius: 16px;
    text-align: center;

}
